.login-container{

    height:90vh;

    display:flex;

    justify-content:center;

    align-items:center;

}


.login-card{

    width:400px;

    padding:30px;

    background:white;

    border-radius:15px;

    box-shadow:0 0 20px rgba(0,0,0,0.2);

}


.login-card h2{

    text-align:center;

    font-weight:bold;

    color:#0d6efd;

}


.subtitle{

    text-align:center;

    color:gray;

    margin-bottom:25px;

}